<!DOCTYPE html>
<html>
<head>
	<title>NASA Website</title>
</head>
<body>
	<h1>NASA Webpage</h1>
	<p>This set of images shows the asteroid Bennu rotating for one full revolution. Over a four-hour and 11-minute period on Nov. 2, the PolyCam camera on NASA’s OSIRIS-REx spacecraft acquired a 2.5-millisecond image for every 10 degrees of the asteroid’s rotation. At the time of imaging, Bennu was approximately 122 miles (197 km) from the spacecraft, and appeared approximately 200 pixels wide in PolyCam’s frame. <a href="https://www.nasa.gov/image-feature/goddard/2018/bennu-from-all-sides">Source</a></p>
	<iframe width="720" height="500" src={{youTubeVideoSource}}></iframe>
</body>
</html>